<mat-toolbar class="header" color="primary">
  <div class="header__left">
    <button type="button" mat-icon-button matTooltip="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>NewArch</h1>
  </div>

  <button type="button" mat-icon-button matTooltip="Account">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<main class="main" color="accent">
  <div class="main__languages">
    <span id="select-language"> {{ 'core.selectLanguage' | i18n }}:</span>
    <mat-button-toggle-group
      ariaLabelledby="select-language"
      [hideSingleSelectionIndicator]="true"
      (change)="useLanguage($event)"
    >
      @for (lang of languages(); track $index) {
        <mat-button-toggle [value]="lang.code" [checked]="lang.checked">
          {{ lang.name }}
        </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </div>

  <router-outlet></router-outlet>
</main>

<mat-toolbar class="footer" color="accent">
  <span class="footer-copyright">
    © {{ year }} NewArch. All rights reserved.
  </span>
</mat-toolbar>
