<div class="container">
  <!-- Lista da esquerda (recebe os elementos) -->
  <div
    id="selected-items"
    class="item destino"
    cdkDropList
    [cdkDropListData]="selectedItems()"
    [cdkDropListConnectedTo]="[availableList]"
    [cdkDropListEnterPredicate]="noReturnPredicate"
    (cdkDropListDropped)="drop($event)"
  >
    <h3>Selecionados</h3>
    @for (item of selectedItems(); track $index) {
      <div
        id="item-{{ $index + 1 }}"
        class="item destino"
        cdkDropList
        [cdkDropListData]="selectedItems()"
        [cdkDropListConnectedTo]="[availableList]"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListEnterPredicate]="noReturnPredicate"
      >
        {{ item }}
      </div>
    }
  </div>

  <!-- Lista da direita (origem, nunca perde elementos) -->
  <div
    id="available-list"
    cdkDropList
    #availableList="cdkDropList"
    [cdkDropListData]="availableItems()"
    [cdkDropListConnectedTo]="cdkDropListConnectedTo"
    class="list"
  >
    <h3>Disponíveis</h3>
    @for (item of availableItems(); track $index) {
      <div class="item" cdkDrag [cdkDragData]="item">
        {{ item }}
      </div>
    }
  </div>
</div>
